h1{
    text-align: center;
    font-size: 50px;
    background-color: darkgreen;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 25px;
    color: darkolivegreen;
}